# EditorConfig is awesome
# https://editorconfig.org

# Top most config
root = true

# Blanket formatting
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Makefile formatting
[Makefile]
indent_style = tab
tab_width = 8
